## Adjust the imbalance dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
trial = pd.read_csv('spam.csv',encoding='ISO-8859-1')
trial.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
trial.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [4]:
trial.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
trial.rename(columns={'v1':'target','v2':'text'},inplace=True)
trial.sample(5)

     target                                            text
4647    ham          We are okay. Going to sleep now. Later
2126    ham        You do got a shitload of diamonds though
1393    ham                                         Oh ok..
3924    ham  As if i wasn't having enough trouble sleeping.
1140    ham       Oh:)as usual vijay film or its different?

In [6]:
trial.duplicated().sum()

403

In [7]:
trial = trial.drop_duplicates(keep='first')

In [8]:
trial.duplicated().sum()

0

In [9]:
trial.shape

(5169, 2)

In [10]:
trial['target'].value_counts()

ham     4516
spam     653
Name: target, dtype: int64

In [12]:
trial.to_csv('data.csv', index=False)